# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
server.log

# Env files
.env
.env.*

# Build outputs
dist/
build/
coverage/

# Editors/OS
.DS_Store
.idea/
.vscode/

# Framework caches
.parcel-cache/
.next/
.nuxt/
.svelte-kit/

